<!doctype html>
<html lang="en">
<head>
  <title>Hyperfocal</title>
  <link rel="stylesheet" href="styles.css">
  <link href='http://fonts.googleapis.com/css?family=Ruda:900' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
</head>
<body>
<body bgcolor="white" text="black">
<%= yield %>
</body>
</html>
