$black: #444;
$white: #fff;
$red:   #ff0000;

//$header-font: 'Ruda', sans-serif;
$header-font: 'Maven Pro', sans-serif;
$body-font: Helvetica, sans-serif;

h1 {
font-family : $header-font;
text-align : left;
font-size : 48pt;
padding-left : 10px;
padding-top : 3px;
padding-bottom : 3px;
}

h2 {
font-family : $header-font;
text-align : left;
font-size : 18pt;
padding-left : 10px;
padding-top : 3px;
padding-bottom : 3px;
}

h3 {
font-family : $body-font;
text-align : left;
font-size : 24pt;
padding-left : 75px;
padding-top : 3px;
padding-bottom : 3px;
background-color: $red;
color: $white
}



