$black: #444;
$white: #fff;
$red:   #f00;

//$header-font: 'Ruda', sans-serif;
$header-font: 'Maven Pro', sans-serif;
$body-font: Helvetica, sans-serif;

.banner {
font-family : $header-font;
text-align : left;
font-size : 48pt;
padding-left : 10px;
// padding-top : 3px;
// padding-bottom : 3px;
}

.title {
font-family : $header-font;
text-align : left;
font-size : 24pt;
padding-left : 10px;
padding-top : 3px;
padding-bottom : 3px;
}

.header {
font-family : $header-font;
text-align : left;
font-size : 18pt;
padding-left : 10px;
padding-top : 3px;
padding-bottom : 3px;
}

.not_found {
font-family : $body-font;
text-align : left;
font-size : 24pt;
padding-left : 75px;
padding-top : 3px;
padding-bottom : 3px;
background-color: $red;
color: $white
}

.foo {
font-family : $body-font;
text-align : left;
font-size : 12pt;
padding-left : 30px;
padding-top : 3px;
padding-bottom : 3px;
line-height:150%
}

.container {
  overflow: hidden;
}

.column {
  float: left;
}

.half{
  width: 60%;
}

.last{
  float: right;
  width: auto;
}
