h1 {
font-family : Helvetica, sans-serif;
text-align : left;
font-size : 18pt;
padding-left : 10px;
padding-top : 3px;
padding-bottom : 3px;
}

header h1 {
font-family : 'Ruda', sans-serif;
text-align : left;
font-size : 24pt;
background-color:#bbbbbb;
padding-left : 10px;
padding-top : 3px;
padding-bottom : 3px;
}
